# Entity Threading Access Transformers
# ClassInheritanceMultiMap
# Remove final from 'map' and 'values' to allow Mixin to swap them with thread-safe versions
public-f net.minecraft.util.ClassInheritanceMultiMap field_180218_a # map
public-f net.minecraft.util.ClassInheritanceMultiMap field_181745_e # values
public net.minecraft.util.ClassInheritanceMultiMap field_180217_c # knownKeys
